<ENVELOPE>
    <HEADER>
        <VERSION>1</VERSION>
        <TALLYREQUEST>Export</TALLYREQUEST>
        <TYPE>Data</TYPE>
        <ID>Voucher Register</ID>
    </HEADER>
    <BODY>
        <DESC>
            <STATICVARIABLES>
                <SVEXPORTFORMAT>$$SysName:XML</SVEXPORTFORMAT>
                <SVFROMDATE TYPE="Date">{{ from_date }}</SVFROMDATE>
                <SVTODATE TYPE="Date">{{ to_date }}</SVTODATE>
                <SVCurrentCompany>{{ company }}</SVCurrentCompany>
            </STATICVARIABLES>
        </DESC>
    </BODY>
</ENVELOPE>
